#carefor
    padding: 50px 0
    .textbox
        width: 450px
        h1
            font-weight: 700
            font-size: 60px
            margin: 0 0 10px
            line-height: 1.2
        h4
            font-size: 24px
            color: #a8a8a8
            line-height: 1.2
