#welcome
    padding: 40px 0
    .textbox
        padding: 80px
        h1
            font-weight: 700
            font-size: 30px
            margin: 20px 0 0
        h3
            font-size: 20px
            color: #8c8c8c
            margin: 20px 0 40px
            line-height: 1.4
        h2
            font-size: 33px
        h6
            font-size: 18px
            color: #a2a2a2
            margin: 15px 0
            line-height: 1.6
        .btn
            padding: 10px 30px
            border-radius: 20px
            background-color: #a7b59f
            color: #ffff
    .wid
        width: 580px
    .icon
        i
            color: #5f8288
            font-size: 30px
